<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ebuy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar py-4 navbar-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Ebuy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarNavDropdown">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item @(ViewBag.PageName == "Products" ? "active" : "")">@Html.ActionLink("Browse", "Index", "Products", null, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item @(ViewBag.PageName == "Admin" ? "active" : "")">@Html.ActionLink("Admin Panel", "Index", "Admin", null, new { @class = "nav-link" })</li>
                    }
                    @if (User.IsInRole("User"))
                    {
                        if (ViewBag.PageName == "Cart")
                        {
                            <li class="nav-item @(ViewBag.PageName == "Cart" ? "active" : "")">@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <button type="button" class="Cart @(ViewBag.PageName == "Cart" ? "active" : "")" data-toggle="modal" data-target="#Cart">@{Html.RenderAction("CartSummary", "ShoppingCart");}</button>
                            </li>
                        }
                    }
                </ul>

                @Html.Partial("_LoginPartial")

            </div>
        </div>

        @* OM: Searchbar in navbar *@

        @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, null, new { placeholder = "Search" });
            }

    </nav>

    <div class="container body-content">
        @RenderBody()

        @if (User.IsInRole("User"))
        {
            // OM: Pure CSS modal
            <div class="modal fade" id="Cart" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Shopping Cart</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @{Html.RenderAction("Cart", "ShoppingCart");}  @* OM: So ShoppingCart/Index renders in the modal *@
                        </div>
                    </div>
                </div>
            </div>
        }
        <hr />
        <footer>
            <p><a href="https://www.peoplecert.org/">PeopleCert</a> &copy; @DateTime.Now.Year CB12 C# FullTime - Group Project (OM, PC, MM, AK)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @* For Manage/Orders action to show order details  *@
    <script>
        $(document).ready(function () {
            $('.showdetails').click(function () {
                $('.hidden').eq($(this).index('.showdetails')).toggle();
            });
        });
    </script>

</body>
</html>
