@model PagedList.IPagedList<GroupProject.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<style>
    .rating {
        position: absolute;
        top: 50px;
    }

    .product-grid {
        background-color: white;
    }
</style>
<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">

<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Products</h1>
        <hr />
    </div>

    <div class="container-fluid mx-auto text-center">
        @if (ViewBag.IsAdminOrEmployee)
        {
            <p>
                @Html.ActionLink("Edit Product Categories", "Index", "Categories", "", new { @class = "btn btn-warning" })  |
                @Html.ActionLink("Edit Product Manufacturers", "Index", "Manufacturers", "", new { @class = "btn btn-warning" })  |
                @Html.ActionLink("Create New Product", "Create", "Products", "", new { @class = "btn btn-warning" })
            </p>
        }

        @using (Html.BeginForm("Index", "Products", FormMethod.Get))
        {
            <p>
                Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) @* OM: ViewBag.CurrentFilter keeps the value on the searchbox *@
                Category: @Html.DropDownList("SelectedCategory", "All")
                Manufacturer: @Html.DropDownList("SelectedManufacturer", "All")
                <input type="submit" value="Search" class="btn btn-info btn-sm" />
            </p>
        }
    </div>

    <p>
        @Html.ActionLink("Sort by Price", "Index", new
        {
            sortOrder = ViewBag.SortParam,
            searchString = ViewBag.CurrentFilter,
            selectedCategory = ViewBag.CurrentCategory,
            selectedManufacturer = ViewBag.CurrentManufacturer
        })
        @if (ViewBag.Descending)
        {
            @:(Currently Descending)
        }
        else
        {
            @:(Currently Ascending)
        }
    </p>

    <p>Showing @ViewBag.ItemCount items</p>

    <div class="row" id="productGrid">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href='@Url.Action("Details", "Products", new { id = item.ID })'>
                            <img src="@Url.Content(item.ProductImage)" alt="Image" class="pic-1" />
                            @*<img src="@Url.Content(item.ProductPic2)" alt="Image" class="pic-2" />*@
                        </a>
                        <ul class="social">
                            <li><a href='@Url.Action("AddToCart", "ShoppingCart", new { id = item.ID })'><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
                        </ul>
                        @if (item.Offer == true)
                        {
                            <span class="product-new-label">Sale</span>
                            <span class="product-discount-label">-@Html.DisplayFor(Model => item.Discount)</span>
                        }
                    </div>
                    <ul class="rating">

                        @{
                            if (item.Ratings.Count > 0)
                            {
                                int sumAvg = Convert.ToInt32((from x in item.Ratings select x.Stars).Average());
                                for (var i = 1; i <= sumAvg; i++)
                                {
                                    <li class="starOn"></li>
                                }
                                for (var i = sumAvg; i < 5; i++)
                                {
                                    <li class="starOff"></li>
                                }
                            }
                            else
                            {
                                <h6>No rating yet</h6>
                                @*for (var i = 1; i <= 5; i++)
                                    {
                                        <li class="starOff"><img src="~/Images/StarFade.gif" /></li>
                                    }*@
                            }
                        }
                    </ul>
                    <div class="product-content">
                        <h3 class="title">@item.Manufacturer.Name @item.Name</h3>
                        <div class="price">
                            @item.Price
                            @if (item.Offer == true)
                            {
                                <span class="badge badge-warning">@item.OldPrice</span>
                            }
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
                <hr />
            </div>
        }
    </div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedCategory = ViewBag.CurrentCategory, selectedManufacturer = ViewBag.CurrentManufacturer }))
</main>