@model PagedList.IPagedList<GroupProject.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">

<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Products</h1>
        <hr />
    </div>

    <div class="container-fluid mx-auto text-center">
    @if (ViewBag.IsAdminOrEmployee)
    {
        <p>
            @Html.ActionLink("Edit Product Categories", "Index", "Categories", "", new { @class = "btn btn-warning" })  |
            @Html.ActionLink("Edit Product Manufacturers", "Index", "Manufacturers", "", new { @class = "btn btn-warning" })  |
            @Html.ActionLink("Create New Product", "Create", "Products", "", new { @class = "btn btn-warning" }) 
        </p>
    }

    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) @* OM: ViewBag.CurrentFilter keeps the value on the searchbox *@
            Category: @Html.DropDownList("SelectedCategory", "All")
            Manufacturer: @Html.DropDownList("SelectedManufacturer", "All")
            <input type="submit" value="Search" class="btn btn-info btn-sm" />
        </p>
    }
    </div>

    <p>
        @Html.ActionLink("Sort by Price", "Index", new { 
            sortOrder = ViewBag.SortParam, 
            searchString = ViewBag.CurrentFilter, 
            selectedCategory = ViewBag.CurrentCategory, 
            selectedManufacturer = ViewBag.CurrentManufacturer 
        })
        @if (ViewBag.Descending)
        {
            @:(Currently Descending)
        }
        else
        {
            @:(Currently Ascending)
        }
    </p>

    <p>Showing @ViewBag.ItemCount items</p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-md-4 shadow-sm">
                <div class="card-header">
                    <img src="@Url.Content(item.ProductImage)" alt="" width="200" height="200" />
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">@Html.DisplayFor(modelItem => item.Price)<small class="text-muted">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>@Html.DisplayFor(modelItem => item.Manufacturer.Name)</li>
                        <li>@Html.DisplayFor(modelItem => item.Category.Name)</li>
                        <li>@Html.DisplayFor(modelItem => item.Name)</li>
                        <li>
                            @Html.ActionLink("Details", "Details", new { id = item.ID })
                            @if (ViewBag.IsAdminOrEmployee)
                            {
                                @Html.ActionLink("Edit", "Edit", "Products", new { id = item.ID }, new { @class = "btn btn-warning" } )
                                @Html.ActionLink("Delete", "Delete", "Products", new { id = item.ID }, new { @class = "btn btn-warning" } )
                            }
                        </li>
                    </ul>
                    <p>
                        @*<a href="#" class="btn btn-info btn-sm">
                            Add to <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>*@
                        <a href='@Url.Action("AddToCart", "ShoppingCart", new { id = item.ID })' class="btn btn-info btn-sm">
                            Add to <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>

                    </p>
                    <hr />
                </div>
            </div>
        }
    </div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, selectedCategory = ViewBag.CurrentCategory, selectedManufacturer = ViewBag.CurrentManufacturer}))
</main>