@model GroupProject.Models.Rating

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RatingText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        @if (Model.IsApproved == false)
        {
            <dd>
                <p style="color:red">Pending</p>
            </dd>
        }
        else
        {
            <dd>
                <p style="color:green">Approved</p>
            </dd>
        }

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back", "RatingDetail", "Admin", new { id = Model.RatingId }, null)
        </div>
    }
</div>
