@model GroupProject.Models.ApplicationUser


@{
    ViewBag.Title = "Users With Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Current User</b>
        </h3>
    </div>
    <hr />
    <!-- /.box-header -->
    <dl class="dl-horizontal">

        <dt>
            User Name
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.UserName)
        </dd>
        @*<dt>
            First Name
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.FirstName)
        </dd>
        <dt>
            Last Name
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.LastName)
        </dd>*@
        @*<dt>
            Address
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.Address)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(m => Model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.Email)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(m => Model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(m => Model.Created)
        </dd>
        <dt>
            Last Login
        </dt>*@
        @*<dd>
            @Html.DisplayFor(m => Model.LastLog)
        </dd>*@
        @if (User.IsInRole("Admin"))
        {
            <dt>
                @Html.DisplayNameFor(m => Model.Roles)
            </dt>
            <dd>
                Admin
            </dd>
        }
        @if (User.IsInRole("Customer"))
        {
            <dt>
                @Html.DisplayNameFor(m => Model.Roles)
            </dt>
            <dd>
                User
            </dd>
        }
        @if (User.IsInRole("Employee"))
        {
            <dt>
                @Html.DisplayNameFor(m => Model.Roles)
            </dt>
            <dd>
                Employee
            </dd>
        }
    </dl>
</div>
