@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Role Editor";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>@ViewBag.Title</b>
        </h3>
    </div>
</div>
<table class="table table-bordered">
    <tbody style="background-color: #eeeeee">
        <tr>
            <td>
                <h4>
                    <i>Existing User Roles:</i>
                </h4>
            </td>
            <td><h4><i>Edit</i></h4></td>
        </tr>
    </tbody>

    @foreach (var item in Model)
    {
        <tr style="background-color: #eeeeee">
            <td>
                @item.Name
            </td>
            <td>
                @if (item.Name != "Admin") 
                {
                @Html.ActionLink("Delete", "DeleteRole", new { id = item.Id })
                }
            </td>
        </tr>
    }


</table>
<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("CreateRole", "Admin")'">
    Create Role
</button>
<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Admin")'">
    Admin Panel
</button>


