@model IEnumerable<GroupProject.Models.Rating>

@{
    ViewBag.Title = "Pending Ratings";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                No.
            </th>
            <th>
                Approval
            </th>
            <th>
                Edited
            </th>
            <th>
                Product
            </th>
            <th>
                Created
            </th>
            <th>
                Stars
            </th>
            <th>
                Reviewer
            </th>
            <th>
                Edit/Delete
            </th>
        </tr>
    </thead>

    @{ int rowNo = 0; }
    @foreach (var item in Model.Where(m => m.IsApproved == false))
    {
        @*@Html.HiddenFor(modelItem => item.Id)*@
        @Html.HiddenFor(modelItem => item.ProductId)
        @Html.HiddenFor(modelItem => item.RatingText)
<tr>
    <td>
        @(rowNo += 1)
    </td>
    <td>
        <span class="badge badge-pill badge-danger">Pending</span>
    </td>
    @if (item.IsEdited == true)
    {
        <td>
            <span class="badge badge-pill badge-danger">Edited</span>
        </td>
    }
    else
    {
        <td>
            <span class="badge badge-pill badge-success">No Edit</span>
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.Products.Manufacturer.Name) @Html.DisplayFor(modelItem => item.Products.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReviewCreated)
    </td>

            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Ratings", new { id = item.RatingId, randomNo = item.UserName }, null) |
                @Html.ActionLink("Details", "RatingDetail", new { id = item.RatingId }) |
                @Html.ActionLink("Delete", "Delete", "Ratings", new { id = item.RatingId }, null)
            </td>
        </tr>
    }

</table>
