@model IEnumerable<GroupProject.ViewModel.UserView>


@{
    ViewBag.Title = "Users With Roles";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>User List</b>
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
            <thead>
                <tr>
                    <td><b>Username</b></td>
                    <td><b>FirstName</b></td>
                    <td><b>LastName</b></td>
                    <td><b>Email</b></td>
                    <td><b>Role</b></td>
                    <td><b>Address</b></td>
                    <td><b>Creation date</b></td>
                    <td><b>Last login</b></td>
                    <td><b>Edit</b></td>

                </tr>
            </thead>
            <tbody>
               @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.UserRoles</td>
                        <td>@user.Address</td>
                        <td>@user.Created</td>
                        <td>@user.LastLogin</td>
                        <td>
                            @Html.ActionLink("Edit", "EditUser", new { id = user.UserId }) |
                            @Html.ActionLink("Delete", "DeleteUser", new { id = user.UserId })
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
        @Html.ActionLink("Create new Employee", "Create")
    </div>

    <div class="panel-footer">
        <p class="box-title"><b>Total Users till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.Count()</span></p>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('#UsersWithRoles').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}  